<h1>Matches</h1>

<div class="outer">
    <ul class="outer">
        <li class="outer">
            <div>
                <div class="image">Image</div>
                <div>Name</div>
            </div>
            <div>
                <ul>
                    <li>DM</li>
                    <li>LFG</li>
                    <li>No Pets</li>
                </ul>
            </div>
        </li>
        <li class="outer">
            <div>
                <div class="image">Image</div>
                <div>Name</div>
            </div>
            <div>
                <ul>
                    <li>DM</li>
                    <li>LFG</li>
                    <li>No Pets</li>
                </ul>
            </div>
        </li>
        <li class="outer">
            <div>
                <div class="image">Image</div>
                <div>Name</div>
            </div>
            <div>
                <ul>
                    <li>DM</li>
                    <li>LFG</li>
                    <li>No Pets</li>
                </ul>
            </div>
        </li>
        <li class="outer">
            <div>
                <div class="image">Image</div>
                <div>Name</div>
            </div>
            <div>
                <ul>
                    <li>DM</li>
                    <li>LFG</li>
                    <li>No Pets</li>
                </ul>
            </div>
        </li>
    </ul>
</div>