h1 {
    text-align: center;
}

.row {
    display: flex;
}

.col-1 {
    flex: 55%;
    text-align: center;
    border-right: 0.1rem solid;
}

.col-2 {
    flex: 35%;
    text-align: center;
}

.split {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top {
    border-bottom: 0.1rem solid;
    padding-bottom: 1rem;
    width: 100%;
}