<h1>Player Search</h1>

<div class="container">
    <div class="filter">
        <h3>Filters</h3>
        <li>Player</li>
        <li>Distance</li>
        <li>Location</li>
        <li>Age</li>
        <li>etc.</li>
    </div>

    <div class="grid">
        <div class="outer">
            <div class="image">Image</div>
            <div>Name</div>
        </div>
        <div class="outer">
            <div class="image">Image</div>
            <div>Name</div>
        </div>
        <div class="outer">
            <div class="image">Image</div>
            <div>Name</div>
        </div>
        <div class="outer">
            <div class="image">Image</div>
            <div>Name</div>
        </div>
        <div class="outer">
            <div class="image">Image</div>
            <div>Name</div>
        </div>
        <div class="outer">
            <div class="image">Image</div>
            <div>Name</div>
        </div>
        <div class="outer">
            <div class="image">Image</div>
            <div>Name</div>
        </div>
        <div class="outer">
            <div class="image">Image</div>
            <div>Name</div>
        </div>
        <div class="outer">
            <div class="image">Image</div>
            <div>Name</div>
        </div>
    </div>
</div>